div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.menu {
  width: 50%;
  float: left;
  align-items: flex-start;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch; /* gap: 5px; */
}

.menu ul li {
  margin: 5px;
}

.statistics table {
  width: 100%;
  border-collapse: collapse;
}

.statistics table tr th,
.statistics table tr td {
  text-align: center;
}

.statistics table tr th {
  border-bottom: 1px solid;
}

.statistics tr:nth-child(even) {
  background-color: #f2f2f2;
}

.statistics tr:hover {
  background-color: #ddd;
}

.teacher-view {
  margin: 0 auto;
}
