$main-color: #ff7700;
$secondary-color: #eea47fff;
$light-grey: #a6a6a6;
$main-font: 'Trebuchet MS', sans-serif;

@mixin button-style {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: $main-font;
  background-color: white;
  color: $main-color;
  border: 2px solid $main-color;
  padding: 1px 7px 1px 7px;
}
@mixin grey-border {
  margin-top: 5px;
  border: 1.5px solid $light-grey;
  margin-left: 5px;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: $main-font;
}

div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  width: 70%;
  text-align: center;
  border-top: 1px solid;
  padding-top: 25px;
}
h6, h5, h4, h3 {
  text-align: center;
}
label {
  margin-top: 5px;
  font-size: 13px;
  color: $light-grey;
}

.user-photo {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 50%;
  border: 3px solid $main-color;
}

.teacher-view {
  margin: 0 auto;
  width: 150px;

  h3, h5, h6 {
    margin-top: 5px;
    margin-bottom: auto;
  }

  h5 {
    color: $light-grey;
  }

  .user-profile {
    position: relative;
    img {
      float: left;
    }
    .favorite-star {
      width: auto;
      position: absolute;
      top: 0;
      right: 23px;
      img {
        float: right;
        height: 30px;
      }
    }
  }
}

.header, .footer {
  align-items: flex-start;

  .main {
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;

    .logo {
      width: 50%;
      padding-top: 0;
      float: left;
      align-items: center;
      justify-content: center;

      .logo-text {
        text-align: left;
        font-family: 'Dancing Script', cursive;
        font-size: 300%;
        text-shadow: -2px -1px $main-color;
        border-top: none;
        padding-top: 0;

      }
    }

    .search {
      width: 50%;
      float: right;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;

      #search-field {
        margin-right: 5px;
        height: 30px;
        width: 70%;
        font-size: 15px;
      }

      a {
        height: 30px;
        float: right;
        margin-right: 0;
        @include button-style;
      }
    }
  }

  .navigation {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;

    .menu {
      width: 50%;
      float: left;
      align-items: flex-start;

      ul {
        padding-left: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch; /* gap: 5px; not available in IE*/

        li {
          margin: 5px;

          a {
            text-decoration: none;
            color: $main-color;
          }

          a:visited {
            color: $secondary-color;
          }
        }
      }
    }

    .add-teacher {
      flex-direction: row-reverse;
      width: 50%;

      a {
        height: 25px;
        width: 100px;
        @include button-style;
      }
    }
  }

}

.top-teachers {

  .filters {
    width: 80%;
    display: grid;
    justify-items: start;
    grid-auto-flow: column;
    grid-gap: 5px;

    .filter-label {
      margin-top: 5px;
      font-size: 13px;
      color: $light-grey;
    }

    .grid-item {
      padding-left: 5px;
      flex-direction: row;
      justify-content: space-evenly;
      border-left: 1px dotted $light-grey;
    }
    .grid-item:first-of-type {
      border-left: none;
    }

    select {
      @include grey-border;
    }
  }

  .teachers-grid {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .paging {
    flex-direction: row;

    .page, .add-more {
      color: $light-grey;
      margin-right: 10px;
    }
  }
}

.statistics {
  width: 80%;
  align-self: center;

  table {
    width: 100%;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #fdf4fe;
    }

    .table-row:hover {
      background-color: #fce9ff;
    }

    tr {
      line-height: 25px;

      th,
      td {
        text-align: center;
      }

      th {
        border-bottom: 1px solid;
        border-bottom-color: $light-grey;
      }
    }
  }
}

.favorites {

  .favourites-slider {
    flex-direction: row;

    .teachers-view {
      flex-direction: row;

      .teacher-view {
        margin: 10px;
      }
    }

    .arrow-left, .arrow-right {
      img {
        height:60px;
      }
    }
  }
}

.about {
  p {
    font-size: 10px;
  }
}

.new-teacher {
  display: none;

  form {
    width: 100%;
    text-align: center;

    .main-label{
      font-size: 20px;
      color: $main-color;
    }

    #gender {
      width: 80%;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-between;

      label {
        color: $main-color;
      }
    }

    input[type="submit"] {
      @include button-style;
    }

    a {
      margin-top: 1px;
      @include button-style;
    }

    input, textarea {
      @include grey-border;
      border-color: $secondary-color;
    }
  }
}

.new-teacher:target {
  display: flex;
}

.full-teacher-view {
  display: none;
  text-align: center;

  .controls {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    a {
      margin-right: 5px;
      @include button-style;
    }
  }
}

.full-teacher-view:target {
  display:flex;
}


@media only screen and (max-width: 670px) {
  div {
    width: 100%;
  }

  .header, .footer {

    .main {
      flex-direction: column;
      width: 100%;
      place-content: center;

      .logo {
        align-items: center;
        justify-content: center;

        h1 {
          width: auto;
        }
      }
    }

    .navigation {
      flex-direction: column;

      .menu {
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;

        ul {
          width: 80%;
        }
      }

      .add-teacher {
        height: 0;
        align-self: center;
        justify-content: center;
      }
    }
  }
  .top-teachers {
    .filters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .grid-item {
        border-left: none;
        width: auto;
      }

    }
  }
}





