body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Trebuchet MS", sans-serif;
}

div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

h1 {
  width: 70%;
  text-align: center;
  border-top: 1px solid;
  padding-top: 25px;
}

h6, h5, h4, h3 {
  text-align: center;
}

label {
  margin-top: 5px;
  font-size: 13px;
  color: #a6a6a6;
}

.user-photo {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border-radius: 50%;
  border: 3px solid #ff7700;
}

.teacher-view {
  margin: 0 auto;
  width: 150px;
}
.teacher-view h3, .teacher-view h5, .teacher-view h6 {
  margin-top: 5px;
  margin-bottom: auto;
}
.teacher-view h5 {
  color: #a6a6a6;
}
.teacher-view .user-profile {
  position: relative;
}
.teacher-view .user-profile img {
  float: left;
}
.teacher-view .user-profile .favorite-star {
  width: auto;
  position: absolute;
  top: 0;
  right: 23px;
}
.teacher-view .user-profile .favorite-star img {
  float: right;
  height: 30px;
}

.header, .footer {
  align-items: flex-start;
}
.header .main, .footer .main {
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
}
.header .main .logo, .footer .main .logo {
  width: 50%;
  padding-top: 0;
  float: left;
  align-items: center;
  justify-content: center;
}
.header .main .logo .logo-text, .footer .main .logo .logo-text {
  text-align: left;
  font-family: "Dancing Script", cursive;
  font-size: 300%;
  text-shadow: -2px -1px #ff7700;
  border-top: none;
  padding-top: 0;
}
.header .main .search, .footer .main .search {
  width: 50%;
  float: right;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.header .main .search #search-field, .footer .main .search #search-field {
  margin-right: 5px;
  height: 30px;
  width: 70%;
  font-size: 15px;
}
.header .main .search a, .footer .main .search a {
  height: 30px;
  float: right;
  margin-right: 0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: #ff7700;
  border: 2px solid #ff7700;
  padding: 1px 7px 1px 7px;
}
.header .navigation, .footer .navigation {
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
}
.header .navigation .menu, .footer .navigation .menu {
  width: 50%;
  float: left;
  align-items: flex-start;
}
.header .navigation .menu ul, .footer .navigation .menu ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch; /* gap: 5px; not available in IE*/
}
.header .navigation .menu ul li, .footer .navigation .menu ul li {
  margin: 5px;
}
.header .navigation .menu ul li a, .footer .navigation .menu ul li a {
  text-decoration: none;
  color: #ff7700;
}
.header .navigation .menu ul li a:visited, .footer .navigation .menu ul li a:visited {
  color: #eea47f;
}
.header .navigation .add-teacher, .footer .navigation .add-teacher {
  flex-direction: row-reverse;
  width: 50%;
}
.header .navigation .add-teacher a, .footer .navigation .add-teacher a {
  height: 25px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: #ff7700;
  border: 2px solid #ff7700;
  padding: 1px 7px 1px 7px;
}

.top-teachers .filters {
  width: 80%;
  display: grid;
  justify-items: start;
  grid-auto-flow: column;
  grid-gap: 5px;
}
.top-teachers .filters .filter-label {
  margin-top: 5px;
  font-size: 13px;
  color: #a6a6a6;
}
.top-teachers .filters .grid-item {
  padding-left: 5px;
  flex-direction: row;
  justify-content: space-evenly;
  border-left: 1px dotted #a6a6a6;
}
.top-teachers .filters .grid-item:first-of-type {
  border-left: none;
}
.top-teachers .filters select {
  margin-top: 5px;
  border: 1.5px solid #a6a6a6;
  margin-left: 5px;
}
.top-teachers .teachers-grid {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.top-teachers .paging {
  flex-direction: row;
}
.top-teachers .paging .page, .top-teachers .paging .add-more {
  color: #a6a6a6;
  margin-right: 10px;
}

.statistics {
  width: 80%;
  align-self: center;
}
.statistics table {
  width: 100%;
  border-collapse: collapse;
}
.statistics table tr:nth-child(even) {
  background-color: #fdf4fe;
}
.statistics table .table-row:hover {
  background-color: #fce9ff;
}
.statistics table tr {
  line-height: 25px;
}
.statistics table tr th,
.statistics table tr td {
  text-align: center;
}
.statistics table tr th {
  border-bottom: 1px solid;
  border-bottom-color: #a6a6a6;
}

.favorites .favourites-slider {
  flex-direction: row;
}
.favorites .favourites-slider .teachers-view {
  flex-direction: row;
}
.favorites .favourites-slider .teachers-view .teacher-view {
  margin: 10px;
}
.favorites .favourites-slider .arrow-left img, .favorites .favourites-slider .arrow-right img {
  height: 60px;
}

.about p {
  font-size: 10px;
}

.new-teacher {
  display: none;
}
.new-teacher form {
  width: 100%;
  text-align: center;
}
.new-teacher form .main-label {
  font-size: 20px;
  color: #ff7700;
}
.new-teacher form #gender {
  width: 80%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
.new-teacher form #gender label {
  color: #ff7700;
}
.new-teacher form input[type=submit] {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: #ff7700;
  border: 2px solid #ff7700;
  padding: 1px 7px 1px 7px;
}
.new-teacher form a {
  margin-top: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: #ff7700;
  border: 2px solid #ff7700;
  padding: 1px 7px 1px 7px;
}
.new-teacher form input, .new-teacher form textarea {
  margin-top: 5px;
  border: 1.5px solid #a6a6a6;
  margin-left: 5px;
  border-color: #eea47f;
}

.new-teacher:target {
  display: flex;
}

.full-teacher-view {
  display: none;
  text-align: center;
}
.full-teacher-view .controls {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.full-teacher-view .controls a {
  margin-right: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Trebuchet MS", sans-serif;
  background-color: white;
  color: #ff7700;
  border: 2px solid #ff7700;
  padding: 1px 7px 1px 7px;
}

.full-teacher-view:target {
  display: flex;
}

@media only screen and (max-width: 670px) {
  div {
    width: 100%;
  }
  .header .main, .footer .main {
    flex-direction: column;
    width: 100%;
    place-content: center;
  }
  .header .main .logo, .footer .main .logo {
    align-items: center;
    justify-content: center;
  }
  .header .main .logo h1, .footer .main .logo h1 {
    width: auto;
  }
  .header .navigation, .footer .navigation {
    flex-direction: column;
  }
  .header .navigation .menu, .footer .navigation .menu {
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .header .navigation .menu ul, .footer .navigation .menu ul {
    width: 80%;
  }
  .header .navigation .add-teacher, .footer .navigation .add-teacher {
    height: 0;
    align-self: center;
    justify-content: center;
  }
  .top-teachers .filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .top-teachers .filters .grid-item {
    border-left: none;
    width: auto;
  }
}

/*# sourceMappingURL=lab2.css.map */
